*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
   
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, div{
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-width: 100%;
  max-height: 100%;
}
.body__container{
  padding: 0 18%;
  /* border: 2px dotted red; */
  background-color: #F7F7F7;
}
h5{
  font-size: 5em;
  
 }
h4{
 font-size: 2em;
 width: 70%;
}
h3{
  font-size: 1.4em;
  font-weight: bold;
 }
 h2{
  font-size: 1.15em;
  font-weight: bold;
  margin: 0px;
 }

a{
  text-decoration: none;
  
}

.flex{
  display: flex;
  /* width: 100%;
  height: 100%; */
  align-items: stretch;
}
.flex-space{
  display: flex;
  justify-content: space-between;
}

.flex-align{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-aligns{
  display: flex;
 
  align-items: center;
}


/* Navigation Bar */
.nav__container{
  display: flex;
align-items: center;
  padding: 1px 60px;
  background-color:#191970 ;
    /* background-image: linear-gradient(#191970, #ff4500); */
  /* padding-right: 80px; */
  /* border: 5px dotted red; */
  /* border: 3px solid #00000005; */
  /* justify-content: space-between;
  align-items: center; */
  color: #f1f2f6;
  }

  
  

 .container__logo{
 border: 5px dotted red;
 display: flex;
 align-items: center;
 /* background-color: turquoise; */
 /* color: #f1f2f6; */
}

 /* Left Navigation Link #Nav_LInka */
.nav__links{
/* background-color: turquoise; */
list-style: none;
display: flex;

align-items: center;
margin-bottom: 0;
/* margin-left: 10%; */
  /* color: #f1f2f6; */
/* border: 5px dotted red; */
/* margin-left: 120px; */
}

.col + .col{
  /* background-color: teal;  */
  color:black;
 
 /* margin-left: 10px; */
}
.col{
 font-size: 13px;
 padding:5px 40px;
 /* padding: 3px 10px; */
}
 
.button{
 background-color: #06aa46;
}
.pg2Button{
  /* background-color: #06aa46; */
  padding:5px 10px;
  color: #f1f2f6;
}
.col a, .logo{
  color: white;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 18px;
  /* border: 5px dotted red; */
  margin-right: 20%;
}
.logo p{
  margin: 0;
}
.col a:hover, .col a:active{
  text-decoration: underline;
  /* background-image: linear-gradient(#191970, #ff4500); */
  color: #ff4500;
 /* background-color: teal; */
/* color: #06aa46; */
 
}
.namePicture{
  color: black;
  font-size: 10px;
}

/* the form and text */
.header{
  /* background-image: linear-gradient(#191970, #ff4500); */
}
.body__of_header{
  padding:120px 20%;
  
  padding-right: 18%;
  /* padding-bottom: 120px; */
  color: red;
 
}

.header__text{
  width: 60%;
  color: white;
  margin: 60px 0;
text-align: left;
  /* border: 2px solid red; */
  
}
.header__text h4{
  font-size: 2.8em;
 font-weight: bolder;
}

select{
   
  width: 100%;
  margin-top: 3px;
  opacity: 0.4;
  border-color: #b6d1bc9d;
   padding: 3px 10px;
  
  
  /* width: 105px; */
}

.textAlign{
  text-align: center;
}


.search{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  background-color: #06aa46;
  /* padding-right: 13px; */
}
.search a{
  padding-right: 5px;
   color: white;
   font-size: 10px;
}
.icon{
  height: 12px;
  /* margin-left: 7px; */
  padding-right: 15px;
  padding-left: 5px
}
.form__container{
  /* border: 2px solid red; */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right:75px ;
 
  border-radius: 4px;
  background-color: #fefefc;
}
.select__container{
  display: flex;
  align-items: flex-end;
  /* border: 2px solid red; */

}
.label__align{
  margin-right: 15px;
  width: 100%;
}

/* design for .section_1*/
/* .section1_pics{
  display: flex;
  justify-content: space-between;
} */

.carouselCards{

}
.sectionHolder{
  padding: 0 10%;
}
 .section1{
   /* background-image: linear-gradient(#191970, #ff4500); */
      /* border: 2px solid red; */
      color: white;
      padding:40px 0
      /* text-align: none; */
    }
    .check{
      position: relative;
    
    }
    .check>div{
      position: absolute;
      /* left: 10px; */
      bottom: 10px;
    }
    .check div>p, .check div>h1{
      margin: 0px;
      font-weight: bold;
  color: white;
    }
   .section1 .check div>p:hover, .check div>h1:hover{
      margin: 0px;
      font-weight: bold;
  color: white;
    }
    .check a:hover{
      text-decoration: underline;
      color: white;
    }
    .check a>h1, .check a>p{
      margin: 0px;
    
  color: white;
    }

    .check div>p{
      font-size: 1em;
    }
    .check div>h1{
      font-size: 1.3em;
    }
    .check .check_date{
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    }

    .nexy{
      font-weight: bold;
    }
/* .section1 h1{
  font-size: 1.3em;
} */

.page-container{
  padding: 0px 18%;
  border: 2px solid green;
  background-color:#F9F9FB ;
}
.section-container{
  padding: 0px 18%;
  /* border: 2px solid green; */
 
}
/* Section2 */
.section2{
  /* border: 2px solid red; */
 
}
.showMore p{
  margin-bottom: 0;
  margin-right: 5px;
}
.section2_pics{
  display: flex;
  justify-content: space-between;
}
.section3{
  border: 2px solid red;
}
.section4{
  margin: 50px 0;
  padding: 30px 10%;
  /* border: 2px solid red; */
  background-color: #332824;
  color: white;
}
.section4 div, .section4 p, .section4 h3{
  color: white;
}
.section4 *, .section5 *, .section6, *{
  margin:0;
  padding:0
}
.section5{
  /* border: 2px solid red; */

}
.circleHolder{
  position: relative;
  /* border: 2px solid blue; */
  width: 33%;
  height: 100%;
}

.circles{
  height: 80px;
  width: 80px;
  border: 1px solid white;
  background-color:#C4C4C4 ;
  /* opacity: 0.5; */
  border-radius: 100%;

  /* top:-2px; */
}
/* Section6 */
.section6{
  margin-top: 70px;
}
.circle11,.circle12,.circle13{
  margin: 0 auto;
  position: relative;
 top: -40px;
  margin-bottom: -30px;
  
}
.box2, .box1, .box3{
  position: relative;
  width: 30%;
  padding: 0px 3%;
  border: 1px solid #C4C4C4;
  /* background-color: #C4C4C4;
   */

}









.logo_Holder{
  /* border: 2px solid red; */
    height: 20px;
    width: 25px;
    position: relative; 
}
.circle2{
  position: absolute; 
   left:60px
}
.circle3{
  position: absolute; 
  left:120px
}
.circle4{
  position: absolute; 
  left:180px
}








/* Page3 */
/* .page3{
  background-color: red;
  display: flex;
  width: 50%;
  margin: 0 auto;
} */


.form__centerer{
  padding: 30px;
  max-width: 35%;
  margin: 70px auto;
  margin-bottom: 30px;
  background-color: white;
  
  border-radius: 15px;
}



.ant-row .ant-form-item{
margin: 0;
padding: 0;
background-color: red;
}


.carousel_desc{
  margin: 10px 0px;
  color: #8B8B8B;
  
  } 

 
  .picsMath{
    width: calc(50% - (10px));
    border: 2px solid green;
    /* background-color: red; */
    padding: 0px;
  }